@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181b34;
}

.arrow-sidebar {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 8px 0;
  position: absolute;
  border-color: transparent #393b53 transparent transparent;
  right: -23.5px;
}

